<html>
  <head>
    <title>User plan checkout</title>
  </head>
  <body>
    <p>Proceed here  to pay the fees.</p>
    <form action="/finance/success/" method="POST">
      {% csrf_token %}
      <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{apiid}}"
        data-amount="{{amount}}" 
        data-currency="INR"
        data-order_id="{{orderid}}"
        data-buttontext="Pay with Razorpay"
        data-name="{{plan}}"
        data-description="User plan"
        data-image="https://www.rkeduv.com/static/logos/logo.png"
        data-prefill.name="{{name}}"
        data-prefill.email="{{email}}"
        data-prefill.contact="{{contact}}"
        data-theme.color="#0BA101">
      </script>
      <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
  </body>
</html>
