{% extends 'base.html'%}
{% load static %}
{% block css %}
<style>
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 60px;
}
</style>
{% endblock %} 
{% block content %}
<div class="cover-container d-flex w-80 h-100 p-3 mx-auto flex-column">
  <h4>Upcoming Exams</h4>
  <hr>
  {% if examsExists %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Start time</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
            {% for object in objects %}
          <tr>
            <th scope="row">{{ object.SNo }}</th>
            <td>{{object.title}}</td>
            <td>{{object.examTime}}</td>
            <td> 
             {% if timeNow >= object.exam_time %}
             <a href="start_exam{{object.id}}/" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">start exam</a>
              {% else %}
              <p>Exam Not Started</p>
              {% endif %}
            </td>
          </tr>
           {% endfor %}
           
        </tbody>
      </table>
      {% else %}
      <p>No Exam to Display</p>
      {% endif %}
    {% if request.user.is_admin %}

      <h4 class="mt-4">Demo Exam</h4>
      <hr>
      {% if examsExists %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Start time</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
              {% for object in objects %}
            <tr>
            <th scope="row">{{ object.SNo }}</th>
            <td>{{object.title}}</td>
            <td>{{object.examTime}}</td>
              <td>
                <a href="demo_exam{{object.id}}/" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">start exam</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No Exams to Display</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
