{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/startexam.css' %}">
    <title>Mock Test</title>
  </head>
  <body>
    <div class="main">
      <input type="hidden" name="" id="startTime" value="2022-11-15T10:00:00">
      <input type="hidden" name="" id="endTime" value="2022-11-15T11:00:00">
        <div class="navbar border-bottom d-flex justify-content-between">
            <img src="{% static 'logo/logo.png '%}" class="float-md-start mb-0" style="height:4em">
            <time class="float-md-start mb-0 mx-3   "></time>
        </div>
        <div class="body">
            <form id="regForm" action="/action_page.php">
                <h1>{{title}}</h1>
                <!-- One "tab" for each step in the form: -->
                
                <div class="question_list" style=" width: 100%;">
                    <div class="d-flex mt-4 mx-0" id="progress">
                        <!-- <button type="button" class="step btn btn-light btn-sm border">1</button>
                        <button type="button" class="step btn btn-light btn-sm border">2</button> -->
                    </div>
                </div>
                
                <hr>
                {% for question in questions %}
                <div class="tab">
                    <div class="form-card">
                        <div class="question">
                            <img src="{{question.img_url}}" alt="">
                            {% if question.type == 'qa_question' %}
                            <div class="d-flex justify-content-around options">
                                <!-- textarea for QA question -->
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Type your answer here :</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <!-- textarea for QA question END -->
                            </div>
                            {% endif %}
                            {% if question.type == 'normal_mcq' %}
                            <div class="d-flex justify-content-around options">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option3" >
                                    <label class="form-check-label" for="exampleRadios3">A</label>
                                </div>
                            
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option3" >
                                    <label class="form-check-label" for="exampleRadios3">B</label>
                                </div>
                            
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                                    <label class="form-check-label" for="exampleRadios3">C</label>
                                </div>
                            
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3" >
                                    <label class="form-check-label" for="exampleRadios3">D</label>
                                </div>
                                   
                            </div>
                            {% endif %}
                            {% if question.type == 'multiselect' %}
                            <div class="d-flex justify-content-around options">
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                      A
                                    </label>
                                  </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck1">
                                      B
                                    </label>
                                  </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck1">
                                     C
                                    </label>
                                  </div>
                                
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck1">
                                      D
                                    </label>
                                  </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                

                <div style="overflow:auto;">
                  <div style="float:right;">
                    <button type="button" id="flatBtn" onclick="markflag()">Mark Flag</button>
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
              </form>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.17/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/startexam.js' %}"></script>
  </body>
</html>
